# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store

# VS Code
.vscode/

# macOS
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment
.env
*.env

# Logs
*.log

# Pytest
.cache/
